<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Error" internalLogFile="c:\temp\nlog-internal.log" >

  <extensions>
    <add assembly="NLog.DiagnosticSource"/>
  </extensions>

  <variable name="Layout" value="${longdate} | ${level:uppercase=true} | ${logger} | [${activity:property=TraceId}] ${message} ${newline}"/>
  <variable name="LayoutFatal" value="${longdate} | ${level:uppercase=true} | ${logger} | [${activity:property=TraceId}] ${message} | ${exception:format=tostring} ${newline}"/>
  <variable name="LayoutEvent" value="${date}: [${activity:property=TraceId}] ${message} ${stacktrace}"/>

  <variable name="LogTxtLocation" value="${basedir}/App_Data/Logs/${shortdate}/${logger}.log"/>
  <variable name="LogTxtLocationFatal" value="${basedir}/App_Data/Logs/${shortdate}/FatalFile.log"/>
  <variable name="RequestLogTxtLocation" value="${basedir}/App_Data/Logs/${shortdate}/Requests.log"/>
  <variable name="ProjectName" value="AspNetCore.Profiler.Gateway"/>

  <targets>
    <target name="File" xsi:type="File" fileName="${LogTxtLocation}" layout="${Layout}" />
    <target name="FileRequest" xsi:type="File" fileName="${RequestLogTxtLocation}" layout="${Layout}" />
    <target name="FileFatal" xsi:type="File" fileName="${LogTxtLocationFatal}" layout="${LayoutFatal}"/>
    <target name="Sentinel" xsi:type="NLogViewer" address="udp://127.0.0.1:3333"/>
  </targets>

  <rules>
    <logger name="Microsoft.*" maxLevel="Warn" final="true" />
    <logger name="*.HttpRequestLogFilter" minlevel="Trace" writeTo="FileRequest" final="true"  />
    <logger name="*" levels="Trace, Debug, Info, Warn"     writeTo="Sentinel"   />
    <logger name="*" levels="Trace, Debug, Info, Warn"     writeTo="File"       />
    <logger name="*" levels="Error, Fatal"                 writeTo="FileFatal"  />
  </rules>

</nlog>
